body{
    background-color: #0A0A0A;
}
.bottom-message{
    margin-top: 70px;
}
.card{
    border-radius: 10px;
    width: 45%;
    margin: 0 auto;
    padding-top:20px;
    padding-bottom: 20px;
}
.btn{
    display: block;
    margin: 0 auto;
    background-color: #F0076C;
    color:white;
    padding:10px 30px 10px 30px;
    font-size:20px;
    margin-top:10px;
}
h3{
    color: #F0076C;
}
h2{
    color: #F0076C;
    text-align: center;
    font-weight: bold;
}
h5{
    color:#F0076C;
    text-align: center;
    margin: 0 auto;
    display: block;
}
hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
    width: 80%;
}
a{
    color: #F0076C;
    font-weight: bold;
}
a:hover{
    text-decoration: none;
}
.col-form-label{
    font-weight: bold;
    color: #F0076C;
    display: block;
    text-align: center;
}
.asteriskField{
    display: none;
}
.textinput{
    width:400px;
    display: block;
    margin : 0 auto;
}
.text-muted{
    display:none;
}
.alert-danger{
    padding:0px 1px 10px 1px;
}
li{
    text-align:center;
}