body{
    background-color: #0A0A0A;
}
h3{
    color: #F0076C;
}
h2{
    color: #F0076C;
    font-weight: bold;
}
h5{
    color:#F0076C;
}
a{
    color: #F0076C;
    font-weight: bold;
}
a:hover{
    text-decoration: none;
}