<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MovieMoji</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">


  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	
	{% load static %}

	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<link rel="stylesheet" href="{% static 'css/Footer-with-button-logo.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>
        .slider-text-inner
        {
            background-image: url('https://townsquare.media/site/442/files/2016/03/o-THEATER-SEATS-facebook.jpg');
            height: 200px;
            width: 100%;
        }
    </style>

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container-wrap">
			<div class="top-menu">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="{% url 'home' %}">MovieMoji</a></div>
					</div>
					<div class="col-xs-10 menu-1">
						<ul style="margin-left:20px;">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'recommend' %}">Recommended</a></li>
							<li><a href="{% url 'watched' %}">Watched</a></li>
							<li class="active"><a href="{% url 'watch' %}">Watching</a></li>
							<li><a href="{% url 'logout' %}">Logout</a></li>
							<form style="float:right; margin-top:-9px;" action="/search" class="form-inline" id="form" method="POST">
								{% csrf_token %}
								<input style="height:40px;" type="text" name='search' id="search" placeholder="Search">
								<button style="height:40px;" type="submit" id="btnsearch" class="btn btn-primary btn-sm">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</form>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>
	<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(https://i.imgur.com/LCbNUEm.jpg);">
			   		<div class="overlay-gradient"></div>
		   			<div class="row">
			   			<div class="col-md-12 slider-text slider-text-bg">
			   				<div class="slider-text-inner text-center">
								
								<form action="/home/watch/{{ title }}/" method="POST">
                                    {% csrf_token %}
									<input name="watch" id="watch" type='hidden' value="{{title}}">
									<button id="play" type="submit" class="btn btn-success btn-sm">
									<h4><span class="glyphicon glyphicon-play">Play Movie</span></h4>
									</button>
								</form>

								<form action="/home/stop/{{ title }}/" method="POST">
                                    {% csrf_token %}
									<input name="stop" id="stop" type='hidden' value="{{title}}">
									<button id="play" type="submit" class="btn btn-danger btn-sm">
									<h4><span  class="glyphicon glyphicon-stop">Stop Watching</span></h4>
									</button>
								</form>

								<form action="/home/later/{{ title }}/" method="POST">
                                    {% csrf_token %}
									<input name="later" id="later" type='hidden' value="{{title}}">
									<button id="play" type="submit" class="btn btn-warning btn-sm">
									<h4><span  class="glyphicon glyphicon-save">Watch Later</span></h4>
									</button>
								</form>
								
			   				</div>
			   			</div>
			   		</div>
			   	</li>		   	
			  	</ul>
		  	</div>
		</aside>
			 <div id="fh5co-about">
				<div class="row">
					<h1 id="title">{{title}}</h1>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<h4 ><strong>Genres: </strong>{{genre}}</h4>
						<h4><strong>Duration:</strong> 1h 52min</h4>
						<h4><strong>Release:</strong> {{year}}</h4>
					</div>
					<div class="col-sm-3" >
						<h4><strong>Quality:</strong>  <span class="glyphicon glyphicon-hd-video text-primary"></span></h4>
						<h4><strong>Ratings:</strong> 
							<span>
								<li class="glyphicon glyphicon-star"></li>
								<li class="glyphicon glyphicon-star"></li>
								<li class="glyphicon glyphicon-star"></li>
								<li class="glyphicon glyphicon-star"></li>
								<li class="glyphicon glyphicon-star-empty"></li>
							</span>
						</h4>
					</div>
					<div class="col-sm-6" ></div>
			</div>
			<div id="synopsis" class="row"><h4><strong>Synopsis:</strong> </h4>
				<h4>Te evertitur scriptorem eos. Docendi accumsan cotidieque cu ius, nec cu eius consulatu. Sonet accusata vis an. 
					Saepe labores quo at, graeci aperiam dignissim nec et. Ornatus accumsan abhorreant at per. Te evertitur scriptorem eos. Docendi accumsan cotidieque cu ius, nec cu eius consulatu. Sonet accusata vis an. 
					Saepe labores quo at, graeci aperiam dignissim nec et. Ornatus accumsan abhorreant at per.</h4></div>
			</div>
		
	
	</div><!-- END container-wrap -->

	<footer id="myFooter">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<h2 class="logo"><a href="#"> MovieMoji </a></h2>
					</div>
					<div class="col-sm-2">
						<h5>Get started</h5>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Sign up</a></li>
							<li><a href="#">Downloads</a></li>
						</ul>
					</div>
					<div class="col-sm-2">
						<h5>About us</h5>
						<ul>
							<li><a href="#">Company Information</a></li>
							<li><a href="#">Contact us</a></li>
							<li><a href="#">Reviews</a></li>
						</ul>
					</div>
					<div class="col-sm-2">
						<h5>Support</h5>
						<ul>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Help desk</a></li>
							<li><a href="#">Forums</a></li>
						</ul>
					</div>
					<div class="col-sm-3">
						<div class="social-networks">
							<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="google"><i class="fa fa-google-plus"></i></a>
						</div>
						<button type="button" class="btn btn-default">Contact us</button>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<p>© 2019 MovieMoji </p>
			</div>
		</footer>
	
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
	
	<!-- jQuery -->
	<script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script type='text/javascript' src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script type='text/javascript' src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script type='text/javascript' src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script type='text/javascript' src="{% static 'js/jquery.flexslider-min.js' %}"></script>
	<!-- Magnific Popup -->
	<script type='text/javascript' src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

	<script type='text/javascript' src="{% static 'js/magnific-popup-options.js' %}"></script>
	<!-- Main -->
	<script type='text/javascript' src="{% static 'js/main.js' %}"></script>

    <!-- Modernizr JS -->
	<script type='text/javascript' src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</body>
</html>

